<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjtAula01.Properties.Settings.strConexao" connectionString="workstation id=BanJucas.mssql.somee.com;packet size=4096;user id=laryssahugen_SQLLogin_1;pwd=a2aupcmfdg;data source=BanJucas.mssql.somee.com;persist security info=False;initial catalog=BanJucas" />
    </connectionStrings>
</configuration>