<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrjtAula01.Properties.Settings.strConexao" connectionString="Data Source=BanJucas.mssql.somee.com;Initial Catalog=BanJucas;User ID=laryssahugen_SQLLogin_1;Password=a2aupcmfdg" />
    </connectionStrings>
</configuration>